.slideshowPic {
  height: 400;
  width: 800;
}
.divTest {
  height: 40%;
  width: 100%;
}

.OpisKategorije {
  width: 50%;
}

.footer {
  background-image: url("car-blue.jpg");
  background-size: 100% 100%;
}
